:root {
    --lightteal: #00bfa3;
    --darkteal: #006b6d;
    --lightred: #ff7676;
    --darkred: #82211d;
    --lightblue: #41b2e3;
    --darkblue: #004d5e;
    --lightyellow: #ffe949;
    --darkyellow: #e8d24b;
    --lightgreen: #55b67d;
    --darkgreen: #325c40;
    --lightorange: #ffbc4e;
    --darkorange: #bf5a3e;
    --lightviolet: #baabf7;
    --darkviolet: #584a7f;
    --white: #f5f7fa;
    --cream: #fff3d6;
    --grey: #2d3136;
    --black: #1d1d21;
}