:root {
    --lightteal: #00bfa3;
    --darkteal: #006b6d;
    --lightred: #ff7676;
    --darkred: #82211d;
    --lightblue: #41b2e3;
    --darkblue: #004d5e;
    --lightyellow: #ffe949;
    --darkyellow: #e8d24b;
    --lightgreen: #55b67d;
    --darkgreen: #325c40;
    --lightorange: #ffbc4e;
    --darkorange: #bf5a3e;
    --lightviolet: #baabf7;
    --darkviolet: #584a7f;
    --white: #f5f7fa;
    --cream: #fff3d6;
    --lightgrey: #4f5358;
    --darkgrey: #2d3136;
    --black: #1d1d21;
    --searchBarWidth: 30vw;
}
@media (max-width: 600px) {
    :root {
        --searchBarWidth: 60vw;
    }
}

@font-face {
    font-family: regular;
    src: url('~/assets/fonts/beiruti.ttf');;
}
@font-face {
    font-family: title;
    src: url('~/assets/fonts/zain.ttf');;
}

button {
  border: none;
  transition: all 0.1s;
  background: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 2px;
}